In [177]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

In [178]:
n_category = 4

In [179]:
rangedata = np.random.choice(a=n_category,size=1000000)

In [180]:
rangedata_df = pd.Series(rangedata)

In [181]:
rangedata_df

0         2
1         3
2         0
3         3
4         3
         ..
999995    2
999996    1
999997    2
999998    1
999999    2
Length: 1000000, dtype: int32

now i will create the one-hot-encoding dataset based on rangedata_df

In [183]:
ohe_df = pd.get_dummies(rangedata_df,prefix='cat')

In [184]:
ohe_df

        cat_0  cat_1  cat_2  cat_3
0           0      0      1      0
1           0      0      0      1
2           1      0      0      0
3           0      0      0      1
4           0      0      0      1
...       ...    ...    ...    ...
999995      0      0      1      0
999996      0      1      0      0
999997      0      0      1      0
999998      0      1      0      0
999999      0      0      1      0

[1000000 rows x 4 columns]

this is our covariance-matrix and we can see that its symetric

In [185]:
ohe_df.cov()

          cat_0     cat_1     cat_2     cat_3
cat_0  0.187319 -0.062393 -0.062499 -0.062427
cat_1 -0.062393  0.187467 -0.062573 -0.062501
cat_2 -0.062499 -0.062573  0.187679 -0.062607
cat_3 -0.062427 -0.062501 -0.062607  0.187536

In [186]:
from sklearn.decomposition import PCA

In [187]:
pca = PCA().fit(ohe_df)

In [188]:
pca.components_.T

array([[-0.13521055,  0.1300743 ,  0.84545774, -0.5       ],
       [-0.25938488,  0.69661223, -0.44435446, -0.5       ],
       [ 0.84405301, -0.1339629 , -0.14010162, -0.5       ],
       [-0.44945758, -0.69272363, -0.26100165, -0.5       ]])

we will make it into dataframe so its easier to be read.

In [189]:
PC_list = ["PC-{}".format(i+1) for i in range(4)]

In [190]:
PC_list

['PC-1', 'PC-2', 'PC-3', 'PC-4']

Now, i will perform the PCA

In [202]:
def var_exp(pca):
    var_rat = pca.explained_variance_ratio_
    list_PC = ['PC' + str(i+1) for i in range(var_rat.shape[0])]
    ve = pd.DataFrame(var_rat,index=list_PC,columns=['VarExplained'])
    print(ve.round(3))
    return ve

In [203]:
var_exp(pca)

     VarExplained
PC1         0.334
PC2         0.333
PC3         0.333
PC4         0.000

     VarExplained
PC1  3.336777e-01
PC2  3.333365e-01
PC3  3.329858e-01
PC4  7.032046e-26


now see the variance on each PC . it look almost the same except for PC-4.
 
since all the Pc has same variance its completely useless to be used.
we want to use PCA is to make the new component has more variance than the original one. so we can slice some of the column to makes the training faster.